/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Adam Birder and this is the beginning of my CONTACT PAGE CSS for 201 November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/pattern_bg.jpg)
      center center fixed no-repeat;
  background-size: cover;
}

.center {
    width: 55%; /* makes div responsive */
	padding: 2%;
    margin: 75px auto;
 	background: rgba(255, 255, 255, .60); /*this uses opacity of 75% for the background color*/
	text-align: center;
	/* removed border: 4px dashed white; */
    border-radius: 40px 40px 40px 40px;
}

   
#logo {
    margin-bottom: 8px;
	text-align: center;
}

h1 {
	font-family: verdana, sans-serif;
	font-size: 4em;
    font-weight: 400;
    margin: 0px auto 10px auto;
    color: #3066b5;
    letter-spacing: 4.5px;
    background: -webkit-linear-gradient(#97b6e8, #3066b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h2 {
    font-family: verdana, sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
    font-family: verdana, sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    font-style: italic;
    color: grey;
}
    
nav{
	margin: 27px auto 0;
	position: relative;
	width: 402px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
    
}  

nav li{
    display: inline;
}

nav a {
	line-height: 50px;
	height: 100%;
    font-family: verdana, sans-serif;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 134px;
}
a:nth-child(2) {
	width: 134px;
}
a:nth-child(3) {
	width: 134px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 134px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 134px;
	left: 134px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 134px;
	left: 268px;
	background-color: #3498db;
}

.fade-in {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}